:root {
  --light_Amazon: #232f3e;
  --dark_Amazon: #131921;
}

.hole {
  font-size: larger;
  color: green;
  height: 300px;
  display: flex;
  background-color: goldenrod;
  transition: all 1s ease-in-out;
}

.hole :hover,
.hole ::before {
  transition: all 1s ease-in-out;
  transform: scale(1.05);
  color: bisque;
}

main {
  background: var(--dark_Amazon);
}




@media screen and (min-width: 800px) {
  .gradient {
    width: 100%;
    height: 10%;
    background: #131921;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    bottom: -2%;
    background: linear-gradient(to bottom, var(--dark_Amazon), transparent);
  }
  
}

@media screen and (max-width: 800px) {
  .gradient {
    width: 100%;
    height: 10%;
    background: #131921;
    position: absolute;
    bottom: 20%;
    background: linear-gradient(to bottom, var(--dark_Amazon), transparent);
  }

}

.background-blue {
  background-color: var(--dark_Amazon);
}

.pad {
  border: 10px solid orange;
  padding: 30px;
}

.boi {
  margin-top: 1rem;
  width: 100%;
  font-size: larger;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(255, 174, 0), rgb(233, 153, 4));
  transition: all 1s ease-in-out;
  font-size: 25px;
  font-weight: bold;
  font-family: "Concert One", cursive;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.boi :hover,
.boi ::before {
  transition: all 1s ease-in-out;
  transform: scale(1.05);
  color: bisque;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

.containerbox {
  position: absolute;
  overflow: hidden;
  top: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  letter-spacing: 7px;
  text-align: center;
  color: aliceblue;
  text-transform: uppercase;
  font-family: "Roboto";
  background: linear-gradient(to top, rgba(14, 0, 0, 0.616), transparent);
  cursor: pointer;
}

.containerBox h2 {
  font-size: x-large;
}



/*
font-family: 'Concert One', cursive;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
